body {
	display: flex;
}
#container {
	display: flex;
	flex-direction: column;
}
#sky {
	width: 100vw;
	height: 50vh;
	display: flex;
	order: 1;
	background-image: url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?cs=srgb&dl=blue-clouds-day-53594.jpg&fm=jpg");
}
#ground {
	width: 100vw;
	height: 50vh;
	display: flex;
	order: 2;
}

#grass {
	width: 60vw;
	height: 50vh;
	display: flex;
	background-color: green;
	background-image: url(http://pngimg.com/uploads/grass/grass_PNG401.png);
}
#pond {
	width: 40vw;
	height: 50vh;
	display: flex;
	background-image: url("https://images.pexels.com/photos/734973/pexels-photo-734973.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
	background-repeat: no-repeat;
	background-size: cover;
}

#frog {
	height: 100px;
	width: 100px;
	z-index: 3;
}
.duck {
	height: 100px;
	width: 100px;
	z-index: 3;
}
